@model FullStackTechTest.Models.Home.AdminViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin";
}

<p>THIS IS THE ADMIN PAGE</p>

<div class="container">
    <div class="pb-4">
        @if (!Model.IsEditing)
        {
            <a href="@Url.Action("Edit", new {})" class="btn btn-primary" role="button">Edit</a>
        }
        else
        {
            <a href="@Url.Action("Index", new {})" class="btn btn-primary" role="button">Cancel</a>
        }

        @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { @class = "form-inline" }))
        {
            <h3>Specialties:</h3>

            foreach(var item in Model.SpecialtyList)
            {
                <div class="form-group pb-1">
                    <input type="text" name="person.firstName" value="@item.SpecialtyName" class="@(Model.IsEditing ? "form-control" : "form-control-plaintext")" @(Model.IsEditing ? "" : "readonly") />
                </div>
            }

            if (Model.IsEditing)
            {
                <input type="submit" value="Save" class="btn btn-primary" />
            }  
        }
    </div>


</div>