@using FullStackTechTest.Models.Home
@model FullStackTechTest.Models.Home.AdminViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin";
}

<div class="container">
    <div class="pb-4">
        @if (!Model.AddNewSpecialty)
        {
            <a href="@Url.Action("AddSpecialty")" class="btn btn-primary" role="button">Add Specialty</a>

            <h3>Specialties:</h3>

            foreach (var item in Model.SpecialtyList)
            {
                <div class="specialty-list">
                    <input type="text" name="person.firstName" value="@item.SpecialtyName" class="@(Model.IsEditing ? "form-control" : "form-control-plaintext") inline" @(Model.IsEditing ? "" : "readonly") />

                    @Html.ActionLink("Remove", "Remove", "Admin", new { id = item.Id }, new { @class = "btn btn-primary" })
                </div>
            }
        }
        else
        {
            <a href="@Url.Action("Index")" class="btn btn-primary" role="button">Cancel</a>

            <p>New Specialty:</p>

            @using (Html.BeginForm("Add", "Admin", FormMethod.Post))
            {
                @Html.EditorFor(m => m.NewSpecialty)

                <input type="submit" value="Add Specialty" class="btn btn-primary" />
            }
        }
    </div>
</div>